---
layout: default
---

<section class="posts">
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}"><b>{{ post.title }}</b></a>
            <categories>
                {% for cat in post.categories %}
                <category>{{ cat }}</category>
                {% endfor %}
            </categories>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
        </li>
        {% endfor %}
    </ul>
</section>