<header role="banner">
   <h1 class="logo">
      <!-- {{ site.title }} -->
      <a href="/">
         <img src="/assets/images/lantern.png" alt="">
      </a>
   </h1>
   <h4>A Product blog by Olivier Milla</h4>
   <br />
   <br />
   <br />
   <nav role="navigation">
      <ul>
         {% for item in site.data.navigation.links %}
         <li><a href="{{ item.url }}" {% if item.url==page.url %} class="active" {% endif %}>{{ item.title }}</a></li>
         {% endfor %}
      </ul>
   </nav>
</header>